apiVersion: v1
kind: Service
metadata:
  name: spring-service
  namespace: devops
spec:
  selector:
    app: spring-app
  ports:
    - name: http
      port: 80           # External port
      targetPort: 8089   # Container port
      nodePort: 30080    # NodePort for external access
  type: NodePort
