apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app
  namespace: devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      initContainers:
        - name: wait-for-mysql
          image: busybox
          command: ['sh','-c','until nc -z mysql-service 3306; do echo waiting for mysql; sleep 2; done;']
      containers:
        - name: spring-app
          image: yahyaelkaed/student:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: spring-config
            - secretRef:
                name: spring-secret
